:root {
  --primary: #FF6D60;
  --second: #F7D060;
  --second-light: #F3E99F;
  --fourth-color: #98d8aa;
  --second-light1: #f6efbc;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
#gallerypage{
    height: 100vh;
    position: relative;
  }
  
  .gallery{
    display: grid;
    padding-top: 170px;
    padding-left: 160px;
    grid-template-columns:20% 20% 20% 20%;
    column-gap: 40px;
    row-gap: 0px;
  }
  .gallerybox img{
    width: 300px;
    height: 250px;
    transition: 1s;
    
  }
  .gallerybox img:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 10px;
    
  }
  